<!DOCTYPE HTML>
<html>

<head>
  <title>家长帮</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="application-name" content="家长帮社区" />
  <meta name="msapplication-tooltip" content="家长帮社区" />
</head>

<body>
  <div class="banner">
    <form action="/fileTest" enctype="multipart/form-data" method="post">
      <div class="header">
          <span class="alt">提交文件测试</span>
      </div>
      <ul>
          <li><label>选择文件</label><input name="testFile" type="file" /></li>
          <li class="submits"><input class="submit" type="submit" value="提交" /></li>
      </ul>
      </form>
  </div>
</body>
</html>