<!DOCTYPE HTML>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="login">
    <div class="box png">
        <form action="register" method="post">
        <div class="header">
            <span class="alt">注册</span>
        </div>
        <ul>
            <li><label>用户名</label><input name="userName" type="text" class="text" value="" /></li>
            <li><label>密　码</label><input name="password" type="password" class="text" value="" /></li>
            <li><label>密码确认</label><input name="repassword" type="password" class="text" value="" /></li>
            <li class="submits"><input class="submit" type="submit" value="登录" /></li>
        </ul>
        </form>
    </div>
</div>

</body>
</html>